<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin View</title>
    <!-- Inclusion de Bootstrap CSS -->
    {% include 'accounts/base_style.html' %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Dashboard Admin</h1>
        <div class="d-flex justify-content-between mb-3">
            <a href="{% url 'admin' %}" class="btn btn-info">Tableau de bord admin</a>
            <a href="{% url 'exercises_to_correct' %}" class="btn btn-info">Exercices à corriger</a>
            <a href="{% url 'corrected_exercises' %}" class="btn btn-info">Exercices corrigés</a>
            <a href="{% url 'user_profiles_list' %}" class="btn btn-info">Liste des utilisateurs</a>
        </div>

        <h2>Statistiques</h2>
        <ul>
            <li>Nombre total d'exercices : {{ total_exercises }}</li>
            <li>Nombre d'exercices restant à corriger : {{ exercises_to_correct }}</li>
            <li>Nombre d'exercices corrigés aujourd'hui : {{ exercises_corrected_today }}</li>
            <li>Nombre d'exercices corrigés cette semaine : {{ exercises_corrected_this_week }}</li>
            <li>Nombre d'exercices corrigés ce mois-ci : {{ exercises_corrected_this_month }}</li>
            <li>Nombre total d'exercices corrigés : {{ corrected_exercises }}</li>
        </ul>
    </div>
    <!-- Inclusion de Bootstrap JS et des dépendances -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>