<!-- templates/base_styles.html -->
 <head>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">

 </head>
<style>
    button.btn-dark1 {
        background-color: #17A8B0;
        color: white;
        border: none;
    }
    button.btn-dark1:hover {
        background-color: #1DD3DD;
    }
    .btn-info {
    background-color: #17A8B0 !important;
    color: white !important;
    }
    .btn-info:hover {
    background-color: #1CB9C1 !important;
    color: white !important;
    }
    * {
        font-family: 'Quicksand', sans-serif;
    }
</style>
