<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détail de l'Exercice</title>
    {% include 'accounts/base_style.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div style="margin-left: 4%; margin-right: 4%;">
        <a href="{% url 'dashboard' %}" class="btn btn-info">Retour au dashboard</a>
        <br><br>
        <div class="card card-custom">
            <div class="card-body">
                <!-- Première section : Titre, Texte et État de correction -->
                <div class="row mb-3">
                    <div class="col-md-4">
                        <h2>{{ exercise.title }}</h2>
                    </div>
                    <div class="col-md-4">
                        <p>{{ exercise.text }}</p>
                    </div>
                    <div class="col-md-4">
                        <strong>Corrigé:</strong> {{ exercise.corrected }}
                    </div>
                </div>
                <br></br>
                <div style="height: 8px; background-color: #17A8B0;"></div>
                <br></br>
                <!-- Deuxième section : Photos des énoncés et des réponses -->
                <form action="{% url 'update_photos' exercise.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <h1 class="text-center">Exercice</h1>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <h4 class="text-center">Énoncé</h4>
                        {% if exercise.photo_statement %} 
                            <img src="{{ exercise.photo_statement.url }}" alt="Photo de l'énoncé" class="img-fluid img-thumbnail">
                            <a href="{{ exercise.photo_statement.url }}" download class="btn btn-info">
                                <i class="fas fa-download"></i>
                            </a>
                        {% else %}
                            <p>Aucune photo d'énoncé disponible.</p>
                        {% endif %}
                        {% if exercise.corrected != "oui" %}
                            <label for="id_photo_statement">Modifier l'énoncé</label>
                            <input type="file" name="photo_statement" id="id_photo_statement">
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-center">Réponse</h4>
                        {% if exercise.photo_answer %}
                            <img src="{{ exercise.photo_answer.url }}" alt="Photo de la réponse" class="img-fluid img-thumbnail">
                            <a href="{{ exercise.photo_answer.url }}" download class="btn btn-info">
                                <i class="fas fa-download"></i>
                            </a>
                        {% else %}
                            <p>Pas de réponse.</p>
                        {% endif %}
                        {% if exercise.corrected != "oui" %}
                            <label for="id_photo_answer">Modifier la réponse</label>
                            <input type="file" name="photo_answer" id="id_photo_answer">
                        {% endif %}
                    </div>
                </div>
                {% if exercise.corrected != "oui" %}
                    <button type="submit" class="btn btn-info">modifier énoncé / réponse</button>
                {% endif %}
                </form>
                <br></br>
                <div style="height: 8px; background-color: #17A8B0;"></div>
                <br></br>
                <!-- Troisième section : Détails de la correction -->
                 <h1 class="text-center">Correction</h1>
                <div class="row mb-3">
                    <div class="col-md-6">
                        {% if exercise.photo_correction %}
                            <img src="{{ exercise.photo_correction.url }}" alt="Photo de correction" class="img-fluid img-thumbnail">
                            <a href="{{ exercise.photo_correction.url }}" download class="btn btn-info">
                                <i class="fas fa-download"></i>
                            </a>
                        {% else %}
                            <p>Pas de photo de correction.</p>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <p>{{ exercise.text_correction }}</p>
                        {% if exercise.audio_correction %}
                            <audio controls>
                                <source src="{{ exercise.audio_correction.url }}" type="audio/mpeg">
                                Votre navigateur ne supporte pas l'élément audio.
                            </audio>
                            <a href="{{ exercise.audio_correction.url }}" download class="btn btn-info">
                                <i class="fas fa-download"></i>
                            </a>
                        {% else %}
                            <p>Pas d'audio de correction.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Inclusion de Bootstrap JS et des dépendances -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
